<div class="border-bottom border-black bg-white">
  <div class="container d-flex py-1">
    <p class= "btn small-btn"><%= link_to "Home", root_path, class: "link-color" %></p>
    <p class= "btn small-btn"><%= link_to "Back to list", robots_path, class: "link-color" %></p>
    <p class= "btn small-btn"><%= link_to "Robot detail", robot_path, class: "link-color" %></p>
  </div>
</div>
<%= render "form", robot: @robot %>
