<div class="container">
  <div class="row">
    <div class="col-2">
      <%= link_to "◀︎ Back to robot details", robot_path(@robot) %>
    </div>
    <div class="col-8">
      <h1>Edit <%= @robot.name %></h1>

      <%= render "form", robot: @robot %>
    </div>
    <div class="col-2"></div>
  </div>
</div>
