<div class="container">
  <div class="row">
    <div class="col-4">
      <%= link_to "◀︎ Back to robots list", robots_path %>
    </div>
    <div class="col-4">
      <h1>Add your own robot</h1>
      <%= render "form", robot: @robot %>
    </div>
    <div class="col-4"></div>
  </div>
</div>
