<div class="border-bottom border-black bg-white">
  <div class="container d-flex py-1">
    <p class= "btn small-btn"><%= link_to "Home", root_path, class: "link-color" %></p>

    <%= render "form", order: @order %>
