<div class="container">
  <div class="row">
    <div class="col-2">
      <%= link_to "◀︎ Back to orders", orders_path %>
    </div>
    <div class="col-8">
      <h1>Edit order for <%= @order.robot.name %></h1>

      <%= render "form", order: @order %>
    </div>
    <div class="col-2"></div>
  </div>
</div>
