<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Your orders</h1>

      <div id="orders">
        <ol class= "btn-list">
        <% @orders.each_with_index do |order, index| %>
            <div id="btn-navigation">
            <div>
            <li class= "btn" id= "btn-spacing"><%= link_to "Order n°#{index + 1} - Robot #{order.robot.name}", order_path(order), class: "link-color" %></li>
            </div>
            </div>
        <% end %>
        </ol>
      </div>
    </div>
  </div>
</div>
