<%= "Your order is cooking" %>

<div id="orders">
  <% @orders.each_with_index do |order, index| %>
    <p>
      <%= link_to "Order n°#{index + 1} - Robot #{order.robot.name}", robot_path(order.robot) %>
    </p>
  <% end %>
</div>

<button type="button" class="btn btn-outline-primary"><%= link_to "Place a new order", robots_path  %></button>

<%= link_to "Home", root_path %>
