<div>
<h1 class= "banner"><strong>Welcome to the robot marketplace!</strong></h1>
</div>
<p class= "btn"><%= link_to "Robots", robots_path %></p>
<p class= "btn"><%= link_to "Orders", orders_path %></p>
