<div>
<h1><strong>Welcome to the robot marketplace!</strong></h1>
</div>
<div><p class= "btn big-btn" id="btn-robot"><%= link_to "Robots", robots_path, class: "link-color" %></p></div>
<div><p class= "btn big-btn"><%= link_to "Orders", orders_path, class: "link-color" %></p></div>
