.button {
  background-color: $green;
  border: none;
  color: $black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.btn {
  background-color: $green;
  color: $black;
  border-radius: 15px;
  width: 300px;
  height: 40px;
  margin-bottom: 50px;
  text-align: center;
}
.btn:hover {
  background-color: lightyellow;
  a {
    color: $dark-gray;
  }
  color: $black;
}
.big-btn {
  width: 300px;
  height: 40px;
}
.small-btn {
  width: 150px;
  height: 40px;
  margin-right: 20px;
  margin-left: 0px;
  a:link {
    color: black;
    text-decoration: none;
    font-size: 18px;
  }
}
.small-btn-cta {
  width: 150px;
  height: 40px;
  margin: 0;
  border: 2px solid black;
  a:link {
    color: black;
    text-decoration: none;
    font-size: 18px;
  }
}
#btn-robot {
  margin-top: 100px;
  margin-bottom: 50px;
}
.link-color {
  color: #000;
}
ol li.btn {
  display: block; /* Make each <li> element a block-level element */
  margin-bottom: 10px; /* Optional: add some space between items */
}
.btn-list {
  text-align: center;
}
#btn-navigation div {
  display: inline-block;
  text-align: center;
}
#btn-spacing {
  margin-top: 20px;
  margin-bottom: 20px;
}

input[type="submit"] {
  color: $black;
}

.btn-outline {
  border: solid 1px $green;
  background-color: $dark-gray;
  color: $green;
}

input.btn-outline {
  color: $green;
}
