.card-title {
  width: 350px;
  text-align: left;
  vertical-align: bottom;
  justify-content: left;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  color: white;
  a:link {
    color: white;
    text-decoration: none;
    font-size: 32px;
  }
  a:hover {
    color: gray;
  }
  a:visited {
    color: inherit;
  }
}
