.card-text {
  height: 20px;
  width:350px;
  margin-top: 2px;
  text-align: right;
  text-overflow: ellipsis;
  color: #BAF268;
  font-style: bold;
}
.card-text-show {
  font-size: large;
  font-style: bold;
  color: white;
  background-color: #6b8f35;
  display: flex;
  text-align: center;
  justify-content: center;
}
