.card-title {
  width: 350px;
  text-align: left;
  vertical-align: bottom;
  justify-content: left;
  font-family: $headers-font;
  font-size: 32px;
  color: white;
}

.card:hover {
  .card-title {
    color: $green;
  }
}
