.card {
  width: 370px;
  height: 300px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3A3A3A;
  border-radius: 3% 10% 3% 3%;
}
.card-show {
  width: 637px;
  height: 500px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3A3A3A;
  border-radius: 3% 3% 3% 3%;
}
