.empty-space {
  height: 510px;
}
.black-fade {
  height: 510px;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: black;
  background: linear-gradient(to bottom, transparent 0%, black);
}
.div-title {
  justify-content: center;
  text-align: center;
}
.black {
  height: 325px;
  width: 100%;
  position: fixed;
  top: 510px;
  background-color: black;
}

.fade-overlay {
  margin-top: 400px;
}
.form {
  width: 300px;
  color: white;
}
