.h1 {
  font-size: 32px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.welcome-title {
  color: white;
}
.h2 {
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
}
.h3 {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
